{% extends 'base.html' %}
{% block title %}Downalod Files{% endblock title %}
{% block body %}
{% load humanize %}
{% load static %}

<nav class="navbar navbar-expand-lg bg-light shadow-lg">
    <div class="container-fluid">
      <a class="navbar-brand" >Tenali Ramkrishna</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Upload File</a>
          </li>
          {% if list %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/content">List All</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex" id="formdata" role="search" method="post" action="">
            {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchv">
         
          <button onclick="document.getElementById('formdata').action=`/content/search=${document.getElementById('searchv').value}`" class="btn btn-outline-success" type="submit">Search</button>
          
        </form>
      </div>
    </div>
  </nav>
<div class=" row my-3 mx-0">
    {% if project %}
    {% for file  in project %}
    <div class="card mb-3 shadow-lg px-0 " style="max-width: 540px;margin:auto auto;">
        <div class="row g-0">
          <div class="col-md-4 px-0">
            <img style="height:100%;width:100%;" src="/media/{{file.img}}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color:blue;font-size:20px;">{{file.title|capfirst }}</h5>
              <p style="height:50px;overflow:hidden;" class="card-text">{{file.desc|capfirst }}.</p>
                <div>
                    <p style="display:inline;width:max-content;" class="card-text"><small class="text-muted">{{file.date|naturaltime  }}</small></p>
                    <a style="margin:auto auto;"  class="btn btn-primary" href="/media/{{file.file}}" downalod>Downalod Zip</a>
                </div>
                
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
        <img  style="width:350px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);" src="{% static 'nodata.gif' %}" alt="NO DATA FOUND">
    {% endif %}
</div>
<a href="/logout" style="position:absolute;left:10px;bottom:5px;" class="btn btn-dark">Logout</a>

{% endblock body %}